*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
}
ul{
  list-style: none;
}
input{
  outline: none;
  border: none;
}
textarea{
  outline: none;
  border: none;
}
h1,h2,h3,h4,h5{color: #282828; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
a{
  text-decoration: none;
  color: #282828;
}
p{
  text-align: justify;
}

