*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-family:sans-serif
}
ul{
  list-style: none;
}
input{
  outline: none;
  border: none;
}
textarea{
  outline: none;
  border: none;
}
a{
  text-decoration: none;
  color: black;
}
p{
  text-align: justify;
}

